<!-- A set of links for additional info
	TO DO: - actually create info with the relevant information 
 About  Help  Blog  Status  Jobs  Terms  Privacy  Cookies  Ads  FAQ  Brand  Advertise  Businesses  Media  Developers  Investors -->
<div class="panel panel-default">
  <div class="panel-body">
    <p style="opacity: 0.5; font-size:90%;">© 2016 IWILLMAKETHIS</p>
  </div>
</div>