<!-- Price panel - needs to be dynamic -->
<h5 style="font-size: 125%;">Price</h5>
<a href="">Free</a><br>
<span style="color: grey;">31k Posts</span><br><br>
<a href="">Paid</a><br>
<span style="color: grey;">25k Posts</span><br><br>
