<!-- Skill Level filter panel - needs to be dynamic -->
<h5 style="font-size: 125%;">Skill Level</h5>
<a href="">Beginner</a><br>
<span style="color: grey;">31k Posts</span><br><br>
<a href="">Intermediate</a><br>
<span style="color: grey;">25k Posts</span><br><br>
<a href="">Advanced</a><br>
<span style="color: grey;">16k Posts</span><br><br>
