<!-- Tags filter panel - needs to be dynamic -->
<h5 style="font-size: 125%;">Categories</h5>
<a href="">#Tag #1</a><br>
<span style="color: grey;">31k Posts</span><br><br>
<a href="">#Tag #2</a><br>
<span style="color: grey;">25k Posts</span><br><br>
<a href="">#Tag #3</a><br>
<span style="color: grey;">16k Posts</span><br><br>
