<!-- Popular trends panel - needs to be dynamic - trending tags-->
<div class="panel panel-default">
	<div class="panel-body">
		<h5 style="color: grey; font-size: 125%;">Trends</h5>
		<a href="">#Trend #1</a><br>
		<span style="color: grey;">31k Posts</span><br><br>
		<a href="">#Trend #2</a><br>
		<span style="color: grey;">25k Posts</span><br><br>
		<a href="">#Trend #3</a><br>
		<span style="color: grey;">16k Posts</span><br><br>
	</div>
</div>