<div class="row">
  <div class="col-xs-3">
    <%= render '/components/trends' %>
  </div>
  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2 style="font-wight: bold; opacity:0.85;">EDIT POST</h2>
      </div>
    </div>
    <%= render '/components/edit_post_panel' %>
  </div>
  <div class="col-xs-3">
    <%= render '/components/consider_following' %>
    <%= render '/components/links_panel' %>
  </div>
</div>
